<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="signup.css" type="text/css">
    <title>GreenBox - Sign up</title>
</head>
<body>
    <div class="signup-welcome">
        <header class="main-header">
            <img src="../../../images/GreenBox Logo.png" alt="GreenBox Logo">
        </header>
        <h3 class="welcome-message">Welcome to GreenBox</h3>
    </div>
    <div class="signup-form">
        <form action="#" method="post">
            <input class="text-box" type="text" name="full-name" id="signup-name" placeholder="Full Name">
            <input class="text-box" type="email" name="email" id="signup-email" placeholder="Email Address">
            <input class="text-box" type="password" name="password" id="signup-password" placeholder="Password">
            <input class="text-box" type="password" name="confirm-password" id="signup-confirm-password" placeholder="Confirm Password">
            <p id="signup-terms-agreement">
                By clicking Sign up, you agree to our terms and conditions.
            </p>
            <input type="submit" name="signup" id="signup-submit" value="Sign Up">
        </form>
    </div>
</body>
</html>