<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="login.css" type="text/css">
    <title>GreenBox - Log in</title>
</head>
<body>
    <header class="main-header">
        <h1>GreenBox</h1>
        <small>Your Personal Garbage Watch Assistant</small>
    </header>
    <div class="login-form">
        <form action="#" method="POST">
            <div class="input-text">
                <span class="fa fa-envelope-o"></span>
                <input type="email" name="email" id="login-email" placeholder="Email">
            </div>
            <div class="input-text">
                <span class="fa fa-lock" ></span>
                <input type="password" name="password" id="login-password" placeholder="Password">
            </div>
            <input type="submit" name="login" id="login-submit" value="Log in">
        </form>
        <div class="other-actions">
            <input type="button" name="signup" id="signup-button" value="Sign up">
            <a href="#">Forgot Password?</a>
        </div>
    </div>
    <div class="login-social-media">
        <p>Log in with</p>
        <div class="social-media-icons">
            <a href=""><span class="fa fa-facebook"></span></a>
            <a href=""><span class="fa fa-google"></span></a>
            <a href=""><span class="fa fa-yahoo"></span></a>
        </div>
    </div>
</body>
</html>