<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GreenBox</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- CORE CSS-->
    <link href="http://demo.geekslabs.com/materialize-v1.0/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<script>
  
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>

<body>

<!-- START HEADER -->
  <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color green darken-3">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <a href="C:/xampp/htdocs/mYouthGreenBox/src/components/token/token.html" ><i class="material-icons">arrow_back</i></a>
                    </ul>
                    <div class="header">
                        <a href="#" class="brand-logo center">Green Box</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
  <!-- END HEADER -->

    <!--Main layout-->
    <main>
       <!--start container-->
        <div class="container">
          <div id="profile-page" class="section">
            <!-- profile-page-header -->
            <div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg" alt="user background">                    
                </div>
                <figure class="card-profile-image">
                    <img src="https://ae01.alicdn.com/kf/HTB1kvEjNVXXXXbxXXXXq6xXFXXXs/Accel-World-Anime-Kuroyukihime-23-23CM-Square-Towel-35943.jpg" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </figure>
                <div class="card-content">
                  <div class="row">                    
                    <div class="col s3 offset-s3">                        
                        <h4 class="card-title grey-text text-darken-4">Kuroyuki</h4>
                        <p class="medium-small grey-text">lojayrivz@gmail.com</p>                        
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">80</h4>
                        <p class="medium-small grey-text">Tokens</p>                        
                    </div>                  
                  </div>
                </div>
            </div> 

          <div class="divider"></div>

          <div id="ui-alert" class="section">
            <div class="row">
                <!--DARK-->
                <div class="col s12 m4 l4">
                    <p><strong>History</strong></p>
                    
                    <div id="card-alert" class="card deep-purple lighten-5">
                      <div class="card-content deep-purple-text">
                        <span class="card-title deep-purple-text">1 Token</span>
                          <p>Located a trash bin.</p>
                      </div>
                      <button type="button" class="close deep-purple-text" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
          
                    <div id="card-alert" class="card light-blue lighten-5">
                      <div class="card-content light-blue-text">
                        <span class="card-title light-blue-text">3 Tokens</span>
                        <p>Registered a trash bin.</p>
                      </div>
                      <button type="button" class="close light-blue-text" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
          
                    <div id="card-alert" class="card deep-purple lighten-5">
                      <div class="card-content deep-purple-text">
                        <span class="card-title deep-purple-text">1 Token</span>
                        <p>Located a trash bin.</p>
                      </div>
                      <button type="button" class="close deep-purple-text" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    
                    <div id="card-alert" class="card green lighten-5">
                      <div class="card-content green-text">
                        <span class="card-title green-text"><i class="mdi-social-notifications"></i>2 Tokens</span>
                        <p>Thrown a Garbage in the bin.</p>
                      </div>
                      <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>   
                </div>
            </div>
          </div>
        </div>
        <!--end container-->


              
    </main>
    <!--/Main layout-->


    <!-- SCRIPTS -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="http://demo.geekslabs.com/materialize-v1.0/js/plugins/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="http://demo.geekslabs.com/materialize-v1.0/js/materialize.min.js"></script>
    <!--prism-->
    <script type="text/javascript" src="http://demo.geekslabs.com/materialize-v1.0/js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="http://demo.geekslabs.com/materialize-v1.0/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="http://demo.geekslabs.com/materialize-v1.0/js/plugins/chartist-js/chartist.min.js"></script>   
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="http://demo.geekslabs.com/materialize-v1.0/js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>
    <!-- JQuery -->

</body>

</html>