<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GreenBox</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- CORE CSS-->
    <link href="http://demo.geekslabs.com/materialize-v1.0/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<script>
	
	 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>

<body>
  
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color green darken-3">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    </ul>
                    <div class="header">
                        <a href="#" class="brand-logo center">Green Box</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
		

	<ul id="slide-out" class="sidenav">
		<li><div class="user-view">
				<div class="background">
				<img src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg">
				</div>
				<a href="#user"><center><img class="circle" src="https://ae01.alicdn.com/kf/HTB1kvEjNVXXXXbxXXXXq6xXFXXXs/Accel-World-Anime-Kuroyukihime-23-23CM-Square-Towel-35943.jpg"></center></a>
				<a href="#name"><span style="width: 100%;text-align: center" class="white-text name">Kuroyuki</span></a>
				<a href="#tokens"><span style="width: 100%;text-align: center" class="white-text email">80 Tokens</span></a>
        </div></li>
        
	    <li><a href="#!"><i class="material-icons">delete</i>Locate Bins</a></li>
	    <li><a href="#!"><i class="material-icons">chrome_reader_mode</i>News</a></li>
        <li><a href="C:/xampp/htdocs/mYouthGreenBox/src/components/token/tokens.html"><i class="material-icons">history</i>Token History</a></li>
        <li><a href="#!"><i class="material-icons">keyboard_return</i>Logout</a></li>

	    <!--
	    <li><a href="#!">Second Link</a></li>
	    <li><div class="divider"></div></li>
	    <li><a class="subheader">Subheader</a></li>
	    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
	</ul>
  		
    
    
    <!--Main layout-->
    <main>
        
       
    </main>
    <!--/Main layout-->


    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://mdbootstrap.com/live/_MDB/js/compiled.min.js"></script>
    <script>
         // SideNav Initialization
        $(".button-collapse").sideNav();
        
        new WOW().init();
    
    </script>

</body>

</html>